// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-gradient:'glossy';
//$base-color: rgb(8, 73, 118);
//$base-color: rgb(17, 113, 178);
$base-color: #157efb;

//$list-active-color:rgb(8, 73, 118);
$list-active-color:#157efb;

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';


// Custom code goes here..


// Examples of using the icon mixin:
// @include icon('user');


.map-view{
	//font-family:georgia;
	text-align:center;
	font-size: 1.1em;
	color:#157efb;

	&.specialty-menu{
   border-top: 1px solid #3f4345;
   background: #d8dadb;
   background: -webkit-gradient(linear, left top, left bottom, from(#575a5c), to(#d8dadb));
   background: -webkit-linear-gradient(top, #575a5c, #d8dadb);
}

}



.x-list-label{ 
	   font-size: 1.1em ; 
	   color:#157efb ; 
}

//to make the comment field border radius zero
.x-field-input{
	border-radius:0;
}

//to remove the padding in details view
.x-inner{
	padding:0;
}

//.x-list .x-list-item{
	//color:grey;
//}

.x-title{
	color:#0d66f2;
}

.profile
{
	//font-family:georgia;	
	font-size: 15px;
	text-align: left;
	border-collapse: collapse;
	//background-color: #157efb;
	background-color:white;

	.x
		th
	{
		font-size: 20px;
		font-weight: normal;
		padding: 8px;
		background-color: #157efb;
		color:white;
		text-align: center;
	}
		td
	{
		padding: 8px; 
		color:white;
		//background:url('images/blue2.jpg');
		//background-color: rgb(8, 73, 118);
		background-color: #157efb;
		width:50%;
	}		
	 
	img{
		height:50px;
		width:50px;
	}

		h1{
		&.header{
			padding: 10px;
			text-align:center;
			font-size:30px;
			font-weight:bold;
			color:white;
			font-family:georgia;		
		}
	}

	.pro-list{
		background-color: #157efb;
		color:white;
	}



}

.item{
	font-weight:bold;
	color:white;
	//font-family:georgia;
	text-align:center;
	border-left:1px solid white;
	border-right:1px solid white;
	img{
		height:50px;
		width:50px;
	}
}


//new design login CSS
.username-pwd{
border:0;
background-color:#FFCCFF;
width:90%;
}

.signin-btn{
background-color:#00CC66;
border:0;border-radius:0;
margin-left:5%;
margin-right:5%;
width:90%;
}

.signin-label{
color:white;
}

.cancel-btn{
border:0;
background-color:#FFCCFF;
margin-left:30%;
margin-right:30%;
}

.cancel-label{
color:black;
margin-top:1%;
}

.signup-btn{
background-color:#3366FF;
border-radius:0;
width:40%;
margin-right:5%;
margin-left:55%;
margin-top:5%;
color:white;
}

.signup-label{
color:white;
}

.signin-fieldset-container{
margin-left:30%;
margin-top:5%;
margin-left:5%;
margin-right:5%;
}

.forgot-login{
margin-left:50%;
margin-top:1%;
margin-bottom:2%;
}
//new design login CSS

////////////////////////

.info-window{
	background:rgb(140, 181, 252);
	font-family:georgia;
	color:white;
		padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius:8px;
}

.user-img{
	vertical-align:middle;
	height:40px;
	width:40px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #0d66f2;
	margin:0;
}

.direction-img{
	vertical-align:middle;
	 width:30px;
	  height:30px;
}

.direction{
	vertical-align:middle;
	text-align:center;
	color:#0d66f2;
	-webkit-border-radius: 0px;
	border-radius:0px;
	border: 1px solid #0d66f2;
	background: white;
	height: 40px;
	margin:0;
}

.more-details{
	vertical-align:middle;
	height: 20px;
	width:20px;
	padding:2px;
}

.like-img{
	//vertical-align:middle;
	//height: 20px;
	//width:20px;
	//padding:2px;
}

.like{
	background-image:url('images/Tellafriend.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	height:30px;
	width:30px;
	border:0;
	background-color:white
}

.dislike{
	background-image:url('images/dislike.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	height:30px;
	width:30px;
	border:0;
	background-color:white
}

.call{
	vertical-align:middle;
	text-align:center;
	color:white;
	-webkit-border-radius: 0px;
	border-radius:0px;
	border: 1px solid #0d66f2;
	background: #0d66f2;
	height: 40px;
	width:60px;
	margin:0;
  a{
  color:white;
  text-decoration: none;
}
}

.call-img{
	vertical-align:middle;
	height:40px;
	width:40px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #0d66f2;
	margin:0;
}

.favorite{
	background-color: orange;	
}

.color-star{
	background-image:url('images/orangestar.png');
	height:20px;
	width:20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #0d66f2;
}

.star{

	background-image:url('images/star.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 0px;
	border-radius:0px;
	padding: 20px 20px;
	border: 1px solid #0d66f2;
}

.detail-view-star{
	background-image:url('images/star.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 0px;
	border-radius:0px;
	border: 1px solid #0d66f2;
}

.doctor{
background-image:url('images/home.png');
	height:20px;
	width:20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

///////////////////////////



////////////////////////

.viewport-inner {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menubtn{
	background: white;
	border-top:1px solid white;
	
}

.menu{
color:#157efb;

}

.menu-heart{
margin:4px;
}

.x-button-menu {
font-size: 1.1em;
margin-top:5px;
margin-bottom:5px;
color:#157efb;
border:0;
}

.menu-login{
background-color:black;
color:white;
border:0;
border-radius:0;
margin-top:0
}

.name{
color:black;
backgorund-color:white;
border:1px solid black;
border-radius:0;
margin:0;
}









