// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-gradient:'glossy';
//$base-color: rgb(8, 73, 118);
//$base-color: rgb(17, 113, 178);
$base-color: #157efb;

//$list-active-color:rgb(8, 73, 118);
$list-active-color:#157efb;

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';


// Custom code goes here..


// Examples of using the icon mixin:
// @include icon('user');


.map-view{
	//font-family:georgia;
	text-align:center;
	font-size: 1.1em;
	color:#157efb;

}

.x-list-label{ 
	   font-size: 1.1em ; 
	   color:#157efb ; 
}


.profile
{
	//font-family:georgia;	
	font-size: 15px;
	text-align: left;
	border-collapse: collapse;
	background-color: #157efb;
		th
	{
		font-size: 20px;
		font-weight: normal;
		padding: 8px;
		background-color: #157efb;
		color:white;
		text-align: center;
	}
		td
	{
		padding: 8px; 
		color:white;
		//background:url('images/blue2.jpg');
		//background-color: rgb(8, 73, 118);
		background-color: #157efb;
		width:50%;
	}		
	 
	img{
		height:50px;
		width:50px;
	}

		h1{
		&.header{
			padding: 10px;
			text-align:center;
			font-size:30px;
			font-weight:bold;
			color:white;
			font-family:georgia;		
		}
	}

	.option-list{
		background-color: #157efb;
		color:white;
	}

	.like{
		background-image:url('images/like.png');
		height:20px;
		width:40px;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.unlike{
		background-image:url('images/unlike.png');
		height:20px;
		width:40px;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		background-position: center;
	}


}

.item{
	font-weight:bold;
	color:white;
	//font-family:georgia;
	text-align:center;
	border-left:1px solid white;
	border-right:1px solid white;
	img{
		height:50px;
		width:50px;
	}
}


.login{
	//background:url('images/blue2.jpg');
	//background-color: rgb(8, 73, 118);
	//background-color: #157efb;
	background-color: white;
	h1{
		&.header{
			padding: 10px;
			text-align:center;
			font-size:30px;
			font-weight:bold;
			color:#157efb;
			//font-family:georgia;		
		}
	}

.remember-me{
	background: white;
	font-weight:bold;
	text-align:center;
	color:#157efb;
	border:1px solid #157efb;
}

username-pwd{
padding:0;
border:1px solid #157efb;
}


}

////////////////////////

.info-window{
	background:rgb(140, 181, 252);
	font-family:georgia;
	color:white;
		padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius:8px;
}

.direction{
	font-family:georgia;
	text-align:center;
	color:#0d66f2;
	-webkit-border-radius: 0px;
	border-radius:0px;
	height: 40px;
	border: 1px solid #0d66f2;
	background: white;
}

.direction-img{
	vertical-align:middle;
	 width:30px;
	  height:30px;
}

.more-details{
	font-family:georgia;
	text-align:center;
	color:white;
	-webkit-border-radius: 0px;
	border-radius:0px;
	height: 40px;
	//padding: 11px 22px;
	border: 1px solid #0d66f2;
	background: #0d66f2;
}

.favorite{
	background-color: orange;	
}

.color-star{
	background-image:url('images/orangestar.png');
	height:20px;
	width:20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #0d66f2;
}

.star{

	background-image:url('images/star.png');
	//background-size: 25px 25px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 0px;
	border-radius:0px;
	//padding: 15px 15px;
	//padding: 20px 20px;
	height:40px;
	//width:40px;
	border: 1px solid #0d66f2;
}

.detail-view-star{
	background-image:url('images/star.png');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 0px;
	border-radius:0px;
	border: 1px solid #0d66f2;
}

.call{
	font-family:georgia;
	text-align:center;
	color:#0d66f2;
	-webkit-border-radius: 0px;
	border-radius:0px;
	height: 40px;
	//padding: 11px 22px;
	border: 1px solid #0d66f2;
	background: white;
  a{
  color:#0d66f2;
  text-decoration: none;
}
}

.call-img{
	//background-image:url('images/phone.png');
	vertical-align:middle;
	height:20px;
	width:20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;

}

.doctor{
background-image:url('images/home.png');
	height:20px;
	width:20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

///////////////////////////



////////////////////////

.viewport-inner {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menubtn{
	background: white;
	border-top:1px solid white;
	
}

.menu{
color:#157efb;



}
.x-button-menu {
//border:1px solid #C8C8C8 ;
font-size: 1.1em;
margin-top:5px;
margin-bottom:5px;
color:#157efb;
}









